@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/ptsans-400.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/ptsans-700.woff2') format('woff2');
  font-display: swap;
}
body {
  background: #f2f2f2;
  color: black;
  font-family: 'PT Sans', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}
.page-header {
  background: #ffffff;
  color: #000000;
}
.navigation-link {
  color: #000;
  font-size: 20px;
  line-height: 26px;
  text-transform: none;
  text-decoration: none;
}
.main-banner {
  background-image: url('../images/main_banner.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;
  /* padding-top: 0px; */
}
.welcome {
  background-image: url('../images/background_welcome.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.five_advantages {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-transform: none;
}
.advantages-title {
  font-size: 24px;
  line-height: 28px;
}
.advantages-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: none;
}
.subscription {
  background-image: url(../images/background_subscribe.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}
