@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/ptsans-400.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/ptsans-700.woff2') format('woff2');
  font-display: swap;
}
html {
  height: 100%;
  background-color: #f2f2f2;
}
body {
  background-color: #f2f2f2;
  color: #000000;
  display: flex;
  flex-direction: column;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 30px;
  justify-content: space-between;
  line-height: 36px;
  margin: 0 auto;
  padding: 0;
  min-height: 100vh;
  text-transform: uppercase;
  width: 1200px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page-header {
  background-color: #fff;
  margin: 0 auto;
  width: 100%;
}
.navigation {
  display: flex;

  width: 100%;
  margin: 0;
}
.logo {
  display: block;
  margin-left: 70px;
  width: 139px;
  margin-bottom: -10px;
  z-index: 1;
}
/* .logotype {
  margin: 0;
  padding: 0;
} */
.navigation-list {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  margin-left: 30px;
  padding: 0;
  /* position: relative; */
  width: 390px;
}
.navigation-link {
  color: #000;
  display: block;
  font-size: 20px;
  line-height: 26px;
  text-transform: none;
  text-decoration: none;
  padding: 15px 17px;
}
.navigation-user {
  align-content: center;
  align-items: center;
  display: flex;
  margin-left: 238px;
  margin-right: auto;
  max-width: 264px;
}
.navigation-user .navigation-link {
  min-width: 18px;
  min-height: 18px;
}
.navigation-item {
  align-items: center;
}
.button {
  display: inline-block;
  font-family: 'PT Sans', sans-serif;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  background: #82b3d3;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border-radius: 4px;
  border: none;
  padding: 0;
  margin: 0;
  margin: 0;
  position: relative;
  bottom: 3px;
  cursor: pointer;
}
.navigation-button {
  min-width: 160px;
  height: 37px;
  box-sizing: border-box;
  background-color: #756157;
  padding: 8px 15px;
}
.search .favorite {
  padding: 0;
  margin: 0;
}
.main-container {
  flex-grow: 1;
}
.main-banner {
  background-image: url('../images/main_banner.jpg');
  background-color: #7baec7;
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin: 0;
  padding-top: 51px;
  padding-bottom: 25px;
}
.decoration {
  padding: 0;
  /* margin-top: 25px; */
}
.welcome {
  background-color: #fff;
}
.main-banner-welcome {
  display: block;
  margin: 0 auto;
}
.welcome {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}
.body-welcome {
  background-image: url('/images/welcome-background.jpg');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 63px;
  padding-bottom: 90px;
}
.name-block {
  margin-top: 0;
  margin-bottom: 32px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.description-text {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  margin: 0 auto;
  padding: 0;
  text-transform: none;
  text-align: center;
  /* width: 654px; */
}
.page-container {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
.advantages {
  color: #000;
  font-weight: 400;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.advantages-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  width: 100%;
}
.advantages-title {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 30px;
  margin-top: 0;
  padding: 0;
}
.advantages-description {
  font-size: 18px;
  line-height: 21px;
  padding: 0;
  margin-bottom: 30px;
  margin-top: 0;
  text-transform: none;
}
.advantages-description:last-child {
  margin-bottom: 0;
}
.advantages-item {
  background-color: #82b3d3;
  display: flex;
}
.advantages-item-city {
  color: #ffffff;
  padding: 85px 92px;
  width: 230px;
}
.advantages-item-bridge {
  color: #ffffff;
  padding: 85px 92px;
  width: 230px;
}

.advantages-services {
  display: flex;
  width: 100%;
  margin: 0;
  padding-left: 0;
  list-style: none;
}
.services-item {
  display: block;
  padding: 80px 85px;
  width: 230px;
  text-align: center;
}
.services-item:nth-child(2n + 1) {
  background: rgba(131, 179, 211, 0.12);
}
.item-dignities {
  display: block;
  padding: 103px 86px;
  width: 230px;
  text-align: center;
}
.housing {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}
.eating {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}
.souvenir {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}
.item-food {
  background-color: #ffffff;
}
.item-road {
  background-color: rgba(131, 179, 211, 0.2);
}
.question-block {
  background-color: #fff;
  text-align: center;
  margin: 0;
  padding: 92px 304px;
  width: 592px;
}
.question-button {
  background-color: #756157;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  height: 60px;
  line-height: 36px;
  margin-top: 56px;
  text-transform: uppercase;
  text-align: center;
  width: 574px;
}

.subscription {
  background-image: url('../images/background_subscribe.jpg');
  background-color: #7aaec7;
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  padding: 94px 200px;
  text-align: center;
}

.subscribe-button {
  background-color: #82b3d3;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  height: 60px;
  line-height: 36px;
  margin-top: 46px;
  text-transform: uppercase;
  text-align: center;
  width: 200px;
}
.page-footer {
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  width: 100%;
}
.page-footer-container {
  display: flex;
  flex-wrap: no-wrap;
  width: 1060px;
  margin: 0;
  padding: 40px 70px 30px 70px;
}

.footer-social-list {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-right: 41px;
  padding: 0;
  list-style-type: none;
}
.footer-social-link {
  width: 48px;
  height: 40px;
  /* margin: 5px 0;
  padding: 0; */
}
.footer-social {
  width: 142px;
  height: 40px;
  justify-content: center;
  align-items: center;
  /* margin-right: 42px; */
}
/* .button-social {
  padding: auto auto;
  margin: auto 0;
  width: 47px;
  height: 40px; */

.vk {
  margin: 13px 12px;
}
.tg {
  margin: 12px 15px;
}
.youtube {
  margin: 11px 13px;
}
.footer-contacts {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 720px;
  margin-right: 42px;
}
.contackts-phone {
  color: #000;
  font-size: 40px;
  line-height: 40px;
  padding-right: auto auto;

  text-decoration: none;
}
.footer-copiright {
  width: 115px;
}
